<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<!--样式文件-->
<link rel="stylesheet" href="./umeditor/themes/default/css/umeditor.css">
<script src="./umeditor/third-party/jquery.min.js"></script>
<script type="text/javascript" src="./umeditor/umeditor.config.js"></script>
<script type="text/javascript" src="./umeditor/umeditor.js"></script>
<script type="text/javascript" src="./umeditor/umeditor.min.js"></script>
<script type="text/javascript">
    $(function(){
        window.um = UM.getEditor('container',{
//            toolbar:['undo redo | bold italic underline']
        });
    });
</script>



<body>
<form action="index.php?p=Admin&c=Article&a=update" method="post">
    <table align="center">
        <tr>
            <td width="80">活动标题:</td><td><input type="text" name="title" value="<?php echo $rows['title']?>"></td>
        </tr>
        <tr>
            <td>开始日期:</td><td><input type="date" name="start" value="<?php echo $rows['start']?>"></td>
        </tr>
        <tr>
            <td>截至日期:</td><td><input type="date" name="end" value="<?php echo $rows['end']?>"></td>
        </tr>
        <tr>
            <td>发布日期:</td><td><input type="date" name="time" value="<?php echo $rows['time']?>"></td>
        </tr>
        <tr>
            <td colspan="2">活动类容:</td>
        </tr>
        <tr>
            <td colspan="2">
                <script id="container" name="content" type="text/plain" style="width:600px;height:200px;"><?php echo $rows['content']?></script>
            </td>
        <tr>
        <tr>
            <td colspan="5" align="center">
                <input type="submit">
                <input type="reset">
            </td>
        </tr>
    </table>
    <input type="hidden" name="article_id" value="<?php echo $rows['article_id']?>">
</form>
</body>
</html>