<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="index.php?p=Admin&c=Group&a=update" method="post">
    <input type="hidden" name="group_id" value='<?php echo $row["group_id"]?>'>
    <table>
        <tr>
            <td>组编号:</td>
            <td>
                <?php echo $row["group_id"]?>
            </td>
        </tr>
        <tr>
            <td>组名称:</td>
            <td>
                <input type='text' name='name' value='<?php echo $row["name"]?>'/>
            </td>
        </tr>
    </table>
        <input type="submit" value=" 修改 " />
        <input type="reset" value=" 重置 " />
</form>
</body>
</html>