<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form action="http://139.129.26.163/group13/vip/index.php?p=Admin&c=Wechat&a=dobinding" method="post">
        <table>
            <tr><td><input type="hidden" name="openid" value='<?php echo $openid ; ?>'></td></tr>
            <tr><td><input type="hidden" name="phoneNum" value='<?php echo $phoneNum ; ?>'></td></tr>
            <tr><td><?php echo $yzm ; ?></td></tr>
            <tr><td><input type="text" name="code"></td></tr>
            <tr><td><input type="submit"></td></tr>
        </table>
    </form>
</body>
</html>